<div>
  <app-tab-panel [indexToSelect]="zipCodeToSelectIndex()" *ngIf="currentConditionsByZip()">
    <app-tab-item *ngFor="let location of currentConditionsByZip()" 
                  [label]="location.data.name + ' ( ' + location.zip + ' ) '" 
                  (onCloseTab)="removeLocation(location.zip)" 
                  [dataContext]="location">
      
      <app-current-condition [location]="location" [iconSrc]="getWeatherIcon(location.data.weather[0].id)"></app-current-condition>
      
    </app-tab-item>

  </app-tab-panel>

</div>

